<div class="product-item">
  <div class="product-item-list">
    <p> Código</p>
    <input type="text" [(ngModel)]="product.code" placeholder="Código" >
  </div>

  <div class="product-item-list">
    <p>Nome</p>
    <input type="text" [(ngModel)]="product.name" placeholder="Nome" >
  </div>

  <div class="product-item-list">
    <p>Descrição</p>
    <input type="text" [(ngModel)]="product.description" placeholder="Descrição" >
  </div>

  <div class="product-item-list">
    <p>Quantidade</p>
    <input type="number" [(ngModel)]="product.amount" placeholder="Quantidade" >
  </div>

  <div class="buttons-container">
    <button (click)="delete.emit()">
      <img src="lixeira-de-reciclagem.png" alt="Deletar">
    </button>
    <button>
      <img src="editar.png" alt="Editar">
    </button>
  </div>
</div>