.product-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #8EB9D8;
    margin-top: 5px;

    &-list{
        width: 90%;
    }
    
}

input{
    
    background-color: #D9D9D9;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

p{
    color: #FFFFFF;
    font-size: 20px;  
}