.container {
  background: #cfdff0;
  padding: 20px;
  height: 100%;
}

.header {
  display: flex;
  background: #8EB9D8;
  justify-content: space-between;
  align-items: center;
  
}

h2{
  margin-left: 20px;
}

button {
  border-radius: 4px;
  height: 40px;
  font-weight: bold;
  color: black;
  background-color: #BDE9E4;
  padding: 2px;
  margin-right: 40px;
  width: 10%;
  
}
.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
